{% extends "base.html" %}
{% load static %}

{% block content %}
  

    <div class="container">
        <h1>Support</h1>
        <p>If you have any questions or need assistance, feel free to reach out to us. We are here to help!</p>

        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>Email: <a href="mailto:salinbade1994@gmail.com">salinbade1994.com</a></p>
            <p>Phone: <a href="tel:+9779808015861">+977-9808015861</a></p>
        </div>

        <h2>Frequently Asked Questions</h2>
        <p>Here are some common questions we receive:</p>
        <ul>
            <li><strong>How can I reset my password?</strong> Visit the login page and click on "Forgot Password."</li>
            <li><strong>What payment methods do you accept?</strong> We accept credit cards and PayPal.</li>
            <li><strong>How can I cancel my subscription?</strong> You can cancel your subscription in your account settings.</li>
        </ul>
{% endblock content %}
